/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*-------------------------- BODY -----------------------------*/

body{
	font-family: $defaultFont;
	font-weight: $normalWeight;
	font-size: 16px;
}



/*-------------------------- HEADER -----------------------------*/
header {
	background-color: $primaryColor;
	height: 100px;
	color: $secondaryColor;
	padding-top: .5rem;
	max-width: 100%;
	display: block;

	h1 {
	font-size: 3rem;
	font-weight: $normalWeight;
	margin-top: 35px;
	padding-left: $gutter;

	}

	h2 {
		padding-left: $gutter;
		padding-bottom: 15px;
	}
}

/*-------------------------- NAVIGATION -----------------------------*/
nav {

	background-color: $secondaryColor;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	max-width: 100%;
	
	ul li {
	float: left;
	width: 25%;
	// border-right: 1px solid rgba(0,0,0,0.3);
	}

	ul li:last-child {border-right: none;}

	ul li a {
	display: block;
	text-align: center;
	font-weight: $boldWeight;
	padding: .5rem 0;
	color: $primaryColor;
	text-decoration: none;
	transition: background 0.25s ease, color 0.25s ease;
	} //end of anchors

	ul li.active a {
		background-color: darken($secondaryColor, 10%);
	}

	ul li a:hover {
	color:$secondaryColor;
	background-color: $primaryColor;
	} //end of hover

	clear: both;

}


/*-------------------------- MAIN -----------------------------*/

main {
		// padding-left: $gutter;
		padding-right: $gutter;

	h1 {
		font-size: 1.5rem;
		padding-top: 20px;
		padding-left: $gutter;
		}
	#desktop, #tablet {
		display: none;
	}

	div.gallery {
		width: 100%;
		text-align: center;
		padding-bottom: 20px;

		.photo {
			display: inline-block;
			clear: both;
			width: 49%;				

			img {
				width: 100%;
			}

			figcaption {
				padding-bottom: 20px;
			}
		}
	}
}



/*-------------------------- Footer -----------------------------*/

footer {
	width: 100%;
	background-color: $primaryColor;

	p {
		text-align: center;
		color: $secondaryColor;
		padding: .75rem 0;
		font-size: .9rem;
	}

	p a {
		color: $secondaryColor;
	}
}


/*----- Clearfix: Force and Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

