/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*-------------------------- BODY -----------------------------*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px; }

/*-------------------------- HEADER -----------------------------*/
header {
  background-color: #424e64;
  height: 100px;
  color: #bbc2ca;
  padding-top: .5rem;
  max-width: 100%;
  display: block; }
  header h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 35px;
    padding-left: 2%; }
  header h2 {
    padding-left: 2%;
    padding-bottom: 15px; }

/*-------------------------- NAVIGATION -----------------------------*/
nav {
  background-color: #bbc2ca;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  max-width: 100%;
  clear: both; }
  nav ul li {
    float: left;
    width: 25%; }
  nav ul li:last-child {
    border-right: none; }
  nav ul li a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: .5rem 0;
    color: #424e64;
    text-decoration: none;
    transition: background 0.25s ease, color 0.25s ease; }
  nav ul li.active a {
    background-color: #9ea8b4; }
  nav ul li a:hover {
    color: #bbc2ca;
    background-color: #424e64; }

/*-------------------------- MAIN -----------------------------*/
main {
  padding-right: 2%; }
  main h1 {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 2%; }
  main #desktop, main #tablet {
    display: none; }
  main div.gallery {
    width: 100%;
    text-align: center;
    padding-bottom: 20px; }
    main div.gallery .photo {
      display: inline-block;
      clear: both;
      width: 49%; }
      main div.gallery .photo img {
        width: 100%; }
      main div.gallery .photo figcaption {
        padding-bottom: 20px; }

/*-------------------------- Footer -----------------------------*/
footer {
  width: 100%;
  background-color: #424e64; }
  footer p {
    text-align: center;
    color: #bbc2ca;
    padding: .75rem 0;
    font-size: .9rem; }
  footer p a {
    color: #bbc2ca; }

/*----- Clearfix: Force and Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 35rem) {
  /*----------------------------------------Header----------------------------------------*/
  header #slogan {
    display: block; }

  nav {
    max-width: 100%; }
    nav ul li {
      float: left;
      width: 24.7%;
      border-right: 1px solid rgba(0, 0, 0, 0.3); }

  /*----------------------------------------MAIN----------------------------------------*/
  main div.gallery .photo {
    width: 32%; }
  main div.gallery:last-child {
    text-align: left; }
    main div.gallery:last-child figcaption {
      text-align: center; } }
/* end media query */
@media only screen and (min-width: 60rem) {
  /*----------------------------------------BODY----------------------------------------*/
  div#wrapper {
    max-width: 71.25rem;
    margin: 2rem auto;
    box-shadow: 0 0 19px #000; }

  /*----------------------------------------NAVIGATION----------------------------------------*/
  nav ul {
    border-left: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul li {
    width: auto; }
  nav ul li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul li a {
    padding: .5rem 1rem; }

  /*----------------------------------------MAIN----------------------------------------*/
  main {
    padding: 0; }
    main #tablet {
      display: none; }
    main #desktop {
      display: inline; }
    main div.gallery .photo {
      width: 24%;
      padding: 5px 0 5px 0; }
      main div.gallery .photo img {
        width: 100%; } }
/* end media query */
